.card {
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--color-gray-three);
  border: 1px solid var(--color-gray-two);
  min-width: 16rem;
}

.card-title {
  font-size: 1.5rem;
}

.card-date {
  font-size: 0.825rem;
  color: var(--color-gray-four);
}
