* {
  /* cursor: none; */
}

.cursor-dot,
.cursor-dot-outline {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 11;
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: white;
}

.cursor-dot-outline {
  transition: 0.125s ease;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  border: 1px solid white;
  animation: grow 10s linear infinite;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  3% {
    transform: scale(1.1);
  }
  6% {
    transform: scale(1);
  }
  9% {
    transform: scale(1.1);
  }
  12% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1024px) {
  .cursor-dot,
  .cursor-dot-outline {
    display: none;
  }
}

@keyframes cursor-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
