.cursor-wrapper {
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 10000;
}

.cursor {
  width: 0.65rem;
  height: 0.65rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  margin-top: -4rem;
  mix-blend-mode: difference;
}

.cursor-outline {
  mix-blend-mode: difference;
  margin-top: -4rem;
  --size: 2.5rem;
  transition: all 0.15s;
  position: absolute;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  border: 2px solid white;
}
