.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  width: 3.25rem;
  height: 3.25rem;
  background-color: var(--color-white);
  transition: 0.5s ease-in-out;
  position: relative;
  transition: transform 0.25s;
  border-radius: 50%;
}

.icon-button:hover {
  transform: translateY(-2px);
}

.icon-button svg {
  width: 1.5rem;
  height: 1.5rem;
  z-index: 1;
}

.icon-button-outline {
  background-color: var(--color-black);
  border: 2px solid var(--color-white);
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  transition: transform 0.25s;
}

.icon-button-outline svg {
  width: 1.125rem;
  height: 1.125rem;
}

.icon-button-outline:hover {
  transform: scale(1.05);
}
