.example-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  position: relative;
  height: 100%;
  width: 100%;
  flex: 1;
  background-image: radial-gradient(var(--color-gray-three) 1px, transparent 0);
  background-size: 1rem 1rem;
}

.three-js-canvas {
  height: 100vh !important;
}

.example {
  width: 100%;
  position: relative;
}

.example-title {
  position: absolute;
  right: 0;
  top: -0.75rem;
  font-weight: 500;
  font-size: 1.75rem;
}

.example-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 1;
  gap: 0.5rem;
  color: var(--color-gray-four);
}

.example-txt .icon-alert-error {
  margin: auto;
}
