.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100%;
  width: 100%;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-black);
}

@media screen and (max-width: 1000px) {
  :root {
    --width-desktop: 40rem !important;
  }

  .home-scroll {
    display: none;
  }

  .footer-go-to-top {
    display: none !important;
  }

  .home-settings {
    margin-top: 1rem;
    position: initial;
  }

  .settings {
    flex-direction: row;
  }

  .footer-content-about {
    flex-direction: row !important;
  }

  .footer-content-about-txt {
    top: 2rem !important;
  }

  .pinpoint {
    margin: 1rem 0;
    right: unset !important;
    position: relative !important;
  }
}
